<div class="d-flex flex-column justify-content-between h-100">
  <div>
    <%= render layout: "entries/entry_name", locals: { entry: entry } do %>
      <div id="entry-name" class="d-flex align-items-center justify-content-between flex-grow-1">
        <%= turbo_frame_tag(:entry_name, class: 'w-100') do %>
          <h1 class="mb-0"><%= entry.name %></h1>
        <% end %>
        <div class="dropdown">
          <button class="btn btn-outline-light border-0 text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots-vertical"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(edit_entry_path(entry, input: :entry_name), data: { turbo_frame: :entry_name }, class: "dropdown-item")  do %>
                <i class="bi bi-pencil-square"></i> Edit Name
              <% end %>
            </li>
            <li>
              <%= link_to(entry_path(entry), data: { turbo_method: :delete }, class: "dropdown-item text-danger")  do %>
                <i class="bi bi-trash me-2"></i> Delete Entry
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="mt-5">
      <ul class="list-group">
        <li id="entry-username" class="list-group-item">
          <%= turbo_frame_tag(:entry_username) do %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-floating w-100">
                <%= text_field_tag :username,  entry.username, readonly: true, class: "form-control-plaintext", placeholder: "Username", autocomplete: "username" %>
                <%= label_tag :username, "Username", class: "fw-bold text-dark"%>
              </div>
              <div class="action d-flex">
                <button
                  class="btn btn-outline-primary border-0"
                  data-controller="clipboard"
                  data-action="click->clipboard#copy"
                  data-clipboard-content-param="<%= entry.username %>"
                >
                  <i class="bi bi-clipboard "></i>
                </button>
                <%# porque el link está dentro de un turbo frame no es necesario usar data-turbo-frame %>
                <%= link_to(edit_entry_path(entry, input: :entry_username), class: "btn btn-outline-light border-0 text-dark")  do %>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </li>
        <li id="entry-password" class="list-group-item" data-controller="toggle-password">
          <%= turbo_frame_tag(:entry_password) do %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-floating w-100">
                <%= text_field_tag :password,
                                   entry.password,
                                   readonly: true,
                                   class: "form-control-plaintext",
                                   placeholder: "Password",
                                   type: "password",
                                   autocomplete: "current-password",
                                   data: { toggle_password_target: 'input'}%>
                <%= label_tag :password, "Password", class: "fw-bold text-dark"%>
              </div>
              <div class="action d-flex">
                <button
                  class="btn btn-outline-primary border"
                  data-action="click->toggle-password#toggle"
                >
                  <i class="bi bi-eye"></i>
                </button>
                <button
                  class="btn btn-outline-primary border-0"
                  data-controller="clipboard"
                  data-action="click->clipboard#copy"
                  data-clipboard-content-param="<%= entry.password %>"
                >
                  <i class="bi bi-clipboard "></i>
                </button>
                <%# porque el link está dentro de un turbo frame no es necesario usar data-turbo-frame %>
                <%= link_to(edit_entry_path(entry, input: :entry_password), class: "btn btn-outline-light border-0 text-dark")  do %>
                  <i class="bi bi-pencil-square"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
      <div id="entry-url" class="flex-grow-1 mt-4 ms-4 ps-1">
        <%= turbo_frame_tag(:entry_url) do %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="fw-bold">
              URL
              <%= link_to entry.url, target: "_blank", class: "text-decoration-none text-dark", rel: "noopener noreferrer" do %>
                <%= entry.url %> <i class="bi bi-box-arrow-up-right"></i>
              <% end %>
            </div>
            <div class="action me-3">
              <%# porque el link está dentro de un turbo frame no es necesario usar data-turbo-frame %>
              <%= link_to(edit_entry_path(entry, input: :entry_url), class: "btn btn-outline-light border-0 text-dark")  do %>
                <i class="bi bi-pencil-square"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div>
      Modified at: <%= format_time(entry.updated_at) %>
    </div>
    <div>
      Created at: <%= format_time(entry.created_at) %>
    </div>
  </div>
</div>