<div class="d-flex flex-column justify-content-between h-100">
  <div>
    <%= render layout: "entries/entry_name", locals: { entry: entry } do %>
      <h1 class="mb-0"><%= entry.name %></h1>
    <% end %>
    <div class="mt-5">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="form-floating">
            <%= text_field_tag :username,  entry.username, readonly: true, class: "form-control-plaintext", placeholder: "Username" %>
            <%= label_tag :username, "Username", class: "fw-bold text-dark"%>
          </div>
        </li>
        <li class="list-group-item">
          <div class="form-floating">
            <%= text_field_tag :password,  entry.password, readonly: true, class: "form-control-plaintext", placeholder: "Password", type: "password" %>
            <%= label_tag :password, "Password", class: "fw-bold text-dark"%>
          </div>
        </li>
      </ul>
      <div class="flex-grow-1 mt-4 ms-4 ps-1">
        <div class="fw-bold">URL</div>
        <%= link_to entry.url, target: "_blank", class: "text-decoration-none text-dark", rel: "noopener noreferrer" do %>
          <%= entry.url %> <i class="bi bi-box-arrow-up-right"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div>
      Mofified at: <%= format_time(entry.updated_at) %>
    </div>
    <div>
      Creared at: <%= format_time(entry.created_at) %>
    </div>
  </div>
</div>