<%= turbo_frame_tag(params[:input]) do %>
  <%= form_with(model: @entry, class: 'd-flex position-relative') do |f| %>
    <div class="form-floating edit-name">
      <%= f.text_field(:name, placeholder: "Name", class: "form-control" )%>
      <%= f.label(:name, class: 'fw-bold text-dark') %>
    </div>
    <div class="form-floating edit-url">
      <%= f.text_field(:url, placeholder: "URL", class: "form-control" )%>
      <%= f.label(:url, class: 'fw-bold text-dark') %>
    </div>
    <div class="form-floating edit-username">
      <%= f.text_field(:username, placeholder: "username", class: "form-control" )%>
      <%= f.label(:username, class: 'fw-bold text-dark') %>
    </div>
    <div class="form-floating edit-password">
      <%= f.password_field(:password, placeholder: "password", class: "form-control" )%>
      <%= f.label(:password, class: 'fw-bold text-dark') %>
    </div>
    <div class="entry-edit-actions">
      <%= f.button(class: "btn btn-sm btn-outline-success me-2 rounded-circle") do %>
        <i class="bi bi-check-lg"></i>
      <% end %>
      <%= link_to(entry_path(@entry), class: "btn btn-sm btn-outline-danger rounded-circle") do %>
      <i class="bi bi-x-lg"></i>
      <% end %>
    </div>
  <% end %>
<% end %>